*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-blue{
    position: fixed;
    background-image: linear-gradient(white, #cee5f9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.container-content{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.18);

}

.navbar{
    background-color: #0f69c3;
}



.icon-home:hover{
    color: yellow;
    background-color: #0c56a0;    
}

.icon-home-bg{
    top: 0;
    right: 0;
    width: 23px;
    height: 100%;
    content: '';
    border-radius: 0 0 0 100%;
    background-color:  #0f69c3;
}

/* Dropdown navbar */

.nav-item:hover{
    background-color: #1c4468;
}

.button-navbar:hover{
    color: yellow;
}
.list{
    display: none;
    width: max-content;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 3px 3px 6px rgba(0,0,0,.3);
    z-index: 999;
}

.nav-item:hover .list{
    display: block;
    background-color: rgb(255, 255, 255);
}


/* Hover navbar responsive */
.list-responsive:hover .bg-slate-300 {
    color: yellow; /* Đổi màu chữ của "Giới thiệu" thành màu đỏ khi hover */
}

.list-responsive li:hover {
    color: red; /* Đổi nền của <li> thành màu vàng khi hover */
    background-color: #c9c6c6;
}


/* Column left */

.title-content-left{
    width: max-content;
}


.title-content-left{
    position: relative;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


.title-content-left::after{
    content: '';
    position: absolute;
    right: -12px;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid #3498db;
    transform: translateY(-50%);
}

.text-container {
    max-width: 67ch; /* Limit the number of characters per line */
    line-height: 1.5;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides the overflow text */
    text-overflow: ellipsis; /* Adds the ellipsis (...) at the end of the text */
}

.icon-left{
    border: 2px solid #c4c2c2;
}

.icon-right{
    border: 2px solid #c4c2c2;
}

/* Column right */


.notification{
    background-position: center;
    background-size: 700%;
    background-image: url(Image/bg-widget.png);
}

.header-table a::before{
    content: "\f0a3";
    color: #ffffff;
    font: normal normal normal 12px / 1 FontAwesome;
    float: left;
    width: 10px;
    height: 10px;
    margin: 6px 10px 6px 5px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
}


/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    border: 1px solid #d5d5d5;
}

.custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #c4c2c2;
}

/* Marquee */
.marquee-container {
    width: 100%; /* Độ rộng của container */
    height: 200px; /* Độ cao của container */
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}

.marquee-content {
    position: absolute;
    bottom: -100%; /* Bắt đầu từ ngoài khung nhìn */
    animation: marquee 20s linear infinite; /* Thời gian chạy là 10 giây */
}

.marquee-content:hover {
    animation-play-state: paused; /* Dừng animation khi hover */
    color: rgb(255, 128, 0);
}

@keyframes marquee {
    from {
        bottom: -100%; /* Bắt đầu từ dưới khung nhìn */
    }
    to {
        bottom: 100%; /* Kết thúc ở trên khung nhìn */
    }
}

a.icon-marquee{
    background: url(Image/hv-more-news.jpg) no-repeat;
    background-position: 0px 8px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: justify;
}

/* Select  */
.select-full{
    display: flex;
}

.select-item{
    margin: auto;
    width: 90%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Access */
.access-full p{
    top: 20px;
    left: 25px;
}

.text-access{
    top: 80px;
    left: 25px;
}

/* Footer  */
.footer-full{
    background-color: #0f69c3;
    background-image: url(Image/bg-widget.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 70%;
}

.footer-full img{
    margin: auto;
}

.up{
    bottom: 10px;
    right: 10px
}

