*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-full{
    background-image: linear-gradient(white, #cee5f9);
}

.container-content{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.18);

}

.navbar{
    background-color: #0f69c3;
}

.icon-home:hover{
    color: yellow;
    background-color: #0c56a0;    
}

.icon-home-bg{
    top: 0;
    right: 0;
    width: 23px;
    height: 100%;
    content: '';
    border-radius: 0 0 0 100%;
    background-color:  #0f69c3;
}

/* Dropdown navbar */

.nav-item:hover{
    background-color: #1c4468;
}

.button-navbar:hover{
    color: yellow;
}
.list{
    display: none;
    width: max-content;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 3px 3px 6px rgba(0,0,0,.3);
    z-index: 999;
}

.nav-item:hover .list{
    display: block;
    background-color: rgb(255, 255, 255);
}

/* Content */
.box-header{
    background-image: url(Image/sd_bordertop.png);
}

.header-content{
    background-color: #0f69c3;
}

.header-content.active {
    background-color: #20254f; /* Màu khi nút được chọn */
    color: white; /* Màu chữ khi nút được chọn */
}

.bg-content{
    left: 170px;
    top: 0px;
    bottom: 0px;
    border-color: rgba(136, 183, 213, 0);
    border-left: 26px solid #0f69c3;
    border-width: 22px;
    border-bottom: 0px solid transparent;
    border-top: 36px solid transparent;
    border-right: 0px solid rgba(255, 0, 0, 0);
}

.hr-header{
    border-bottom: 1px solid #d71a21;
}

/* Khởi tạo các div không có gạch chân và màu mặc định */
.hoverDiv {
    text-decoration: none;
}

/* Khi hover vào, chỉ thêm gạch chân */
.underlineOnly.hovered {
    text-decoration: underline;
}

/* Khi hover vào, thêm gạch chân và đổi màu chữ */
.underlineAndColor.hovered {
    text-decoration: underline;
    color: blue; /* Màu chữ khi hover */
}


.left-column h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 12px;
}

.right-content:hover, .active {
    background-color: #ffffff;
}

.active {
    color: rgb(255, 102, 0);
}


/* Slick  */

.carousel img{
    width: 225px;
    height: 150px;
}


.slick-prev{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: rgb(107, 107, 117);
    color: #ffffff;
    border-radius: 10%;
    z-index: 999;
    padding: 3px 10px;
}

.slick-next{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgb(107, 107, 117);
    color: #ffffff;
    border-radius: 10%;
    z-index: 999;
    padding: 3px 10px;
}


.text-slide{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    height: 72px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.address a::before{
    content: "\f192";
    color: #fe7700;
    font: normal normal normal 9px / 1 FontAwesome;
    width: 10px;
    height: 10px;
    margin: 4px 10px 0px 0px;
}

/* Column right */

.notification{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400%;
    background-image: url(Image/bg-widget.png);
}

.header-table a::before{
    content: "\f0a3";
    color: #ffffff;
    font: normal normal normal 12px / 1 FontAwesome;
    float: left;
    width: 10px;
    height: 10px;
    margin: 6px 10px 6px 5px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
}



/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #c4c2c2;
}

/* Marquee */
.marquee-container {
    width: 100%; /* Độ rộng của container */
    height: 200px; /* Độ cao của container */
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}

.marquee-content {
    position: absolute;
    bottom: -100%; /* Bắt đầu từ ngoài khung nhìn */
    animation: marquee 20s linear infinite; /* Thời gian chạy là 10 giây */
}

.marquee-content:hover {
    animation-play-state: paused; /* Dừng animation khi hover */
    color: rgb(255, 128, 0);
}

@keyframes marquee {
    from {
        bottom: -100%; /* Bắt đầu từ dưới khung nhìn */
    }
    to {
        bottom: 100%; /* Kết thúc ở trên khung nhìn */
    }
}

a.icon-marquee{
    background: url(Image/hv-more-news.jpg) no-repeat;
    background-position: 0px 8px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: justify;
}