*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-full{
    background-image: linear-gradient(white, #cee5f9);
}

.navbar{
    background-color: #0f69c3;
}

.icon-home:hover{
    color: yellow;
    background-color: #0c56a0;    
}

.icon-home-bg{
    top: 0;
    right: 0;
    width: 23px;
    height: 100%;
    content: '';
    border-radius: 0 0 0 100%;
    background-color:  #0f69c3;
}

/* Dropdown navbar */

.nav-item:hover{
    background-color: #1c4468;
}

.button-navbar:hover{
    color: yellow;
}
.list{
    display: none;
    width: max-content;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 1px 2px #978989;
}

.nav-item:hover .list{
    display: block;
    background-color: rgb(255, 255, 255);
}

/* Content */

.header-content{
    background-color: #0f69c3;
    border-color: rgba(136, 183, 213, 0);
    border-left: 26px solid #0f69c3;
    border-width: 22px;
    border-bottom: 0px solid transparent;
    border-top: 36px solid transparent;
    border-right: 0px solid rgba(255, 0, 0, 0);
}

.bg-content{
}